.preference-card {
    margin-bottom: 10px;
    width: 340px;
    height: 130px;
    border: 2px dashed green;
    text-align: center;
    z-index: 10;
    cursor: default;
    display: flex;
    flex-direction: row;
}

.preference-card--dragging {
    opacity: 0.3;
}

.preference-card__img {
    width: 100px;
    height: 100px;
}